<span class="badges">
  <span class="badge badge--new">
    {% render 'icon-trophy' %}
    {{ 'collections.product_badges.new' | t -}}
  </span>
  <span class="badge badge--xfory">
    {% render 'icon-tag' %}
    {{ 'collections.product_badges.xfory' | t -}}
  </span>
</span>
