.product-card {
  display: flex;
  flex-direction: column;
  box-shadow: var(--card-shadow);
  padding: 2rem;
  border-radius: 1rem;
}

.product-card__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 2rem;

  .icon--heart {
    width: 1.8rem;
    height: 1.8rem;
    color: rgb(var(--color-grey));
    cursor: pointer;
    transition: 0.3s ease-in-out color;

    &:hover {
      color: rgb(var(--color-black));
    }
  }
}

.product-card__media {
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 1rem;
  }
}

.product-card__info {
  flex: 1;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-bottom: 0.1rem solid rgb(var(--color-border));

  h2 {
    font-size: 1.6rem;
    color: rgb(var(--color-black));
    margin-block: 2rem 0;
  }

  p {
    font-size: 1.4rem;
    color: rgb(var(--color-dark-grey));
    margin-block: 0.8rem 0;
    font-weight: 400;
  }
}

.product-card__actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.product-card__price {
  font-size: 2.2rem;
  font-weight: 700;
}
